{% extends "layout.html" %}

{% block title %}
dashboard
{% endblock %}

{% block body %}

<h1>Dashboard</h1>
Dashboard for:
{% for user in users %}
{{ user.user_email }}

Your user ID: {{ user.user_id }}
<br/>
Tests taken : {{ user.tests_taken }}
<br/>
<br/>
your score will be here
{% endfor %}
<br/>
<h3>Example test</h3>

<!-- test generator form -->
<form action="{{ url_for('test_generator') }}" method="post">
    Test:
    <select name="test_group">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        
    </select>
    <input type="submit" value="Spustit test"/>
</form>

<br/>
<a href="{{ url_for('users') }}"/>users</a>

{% endblock %}