{% extends "layout.html" %}

{% block title %}
AMOS homepage
{% endblock %}

{% block body %}
<h2>Zaregistrujte se</h1>

<!-- register form -->
<form action="{{ url_for('signup') }}" method="post">
    Jmeno: <input name="name" type="text"/>
    <br/>
    Email: <input name="email" type="text"/>
    <br/>
    Heslo: <input name="password" type="password"/>
    <input type="submit" value="Zaregistrovat"/>
</form>
<br/>
<br/>
show users <a href="{{ url_for('users') }}"/>here</a>
<br/>
<h2>sign in</h2>

<!-- sign in form -->
<form action="{{ url_for('signin') }}" method="post">
    Email: <input name="email" type="text"/>
    <br/>
    Heslo: <input name="password" type="password"/>
    <input type="submit" value="Vstoupit"/>
</form>


DASHBOARD <a href="{{ url_for('dashboard') }}"/>here</a>
{% endblock %}