<!DOCTYPE html>

<html>
    <head>
        <!-- http://getbootstrap.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <h1>AMOS v 000.1</h1>
        {% block body %}{% endblock %}
    </body>
</html>
