{% extends "layout.html" %}

{% block title %}
Test
{% endblock %}

{% block body %}
<h1>BELLO, this is a test</h1>
<br/>
<img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/128/Minion-Reading-icon.png" alt="minion"/>
<br/>
<br/>

{% if not exercises %}
no test data in database
{% else %}



<h3>Good Luck!</h3>

<!-- begin form -->
<form action="{{ url_for('test_check') }}" method="post">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Zadani</th>
                <th></th>
                <th>Tvoje reseni</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.description }}</td>
                <td>=</td>
                <td><input type="text" name="answer">
                <input type="hidden" name="solution" value="{{ exercise.solution }}">
                <input type="hidden" name="description" value="{{ exercise.description }}">
                </td>
                
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    <input type="hidden" name="test_size" value="{{exercises|length}}">
    <input type="submit" value="Odeslat"/>
</form>


test size: {{exercises|length}}
<br/>
<br/>



<!-- hide temporarily
    <br/>Nasobeni
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Zadani</th>
                <th></th>
                <th>Tvoje reseni</th>
                <th>Spravne reseni</th>
                <th>body za ukol</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in exercises %}
            <tr>
                {% if exercise.test_section|string() == "Nasobeni" %}
                <td>{{ exercise.description }}</td>
                <td>=</td>
                <td><input type="text" name="{{ exercise.math_id }}"></td>
                <td>{{ exercise.solution }}</td>
                <td>{{ exercise.points }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <br/>Odecitani
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Zadani</th>
                <th></th>
                <th>Tvoje reseni</th>
                <th>Spravne reseni</th>
                <th>body za ukol</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in exercises %}
            <tr>
                {% if exercise.test_section|string() == "Odecitani" %}
                <td>{{ exercise.description }}</td>
                <td>=</td>
                <td><input type="text" name="{{ exercise.math_id }}"></td>
                <td>{{ exercise.solution }}</td>
                <td>{{ exercise.points }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    
    <br/>Scitani
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Zadani</th>
                <th></th>
                <th>Tvoje reseni</th>
                <th>Spravne reseni</th>
                <th>body za ukol</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in exercises %}
            <tr>
                {% if exercise.test_section|string() == "Scitani" %}
                <td>{{ exercise.description }}</td>
                <td>=</td>
                <td><input type="text" name="{{ exercise.math_id }}"></td>
                <td>{{ exercise.solution }}</td>
                <td>{{ exercise.points }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    
    <br/>Deleni
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Zadani</th>
                <th></th>
                <th>Tvoje reseni</th>
                <th>Spravne reseni</th>
                <th>body za ukol</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in exercises %}
            <tr>
                {% if exercise.test_section|string() == "Deleni" %}
                <td>{{ exercise.description }}</td>
                <td>=</td>
                <td><input type="text" name="{{ exercise.math_id }}"></td>
                <td>{{ exercise.solution }}</td>
                <td>{{ exercise.points }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>

    <input type="submit" value="Odeslat"/>

-->

{% endif %}

{% endblock %}